main {
    margin: -25px auto 0px auto;
    background: url(../images/brown-wooden-textured-flooring-background-65170f9b2a4be.webp);
    object-fit: contain;
}

section {
    width: 90vw;
    max-width: 1000px;
    padding: 40px;
    margin: auto;
    background-color: rgb(245,245,245);
    box-shadow: 0px 0px 5vw 0 white;
}

h3:first-child {
    text-align: center;
}

@media screen and (max-width: 600px) {
    section {
        width: 80vw;
        padding: 1px 5vw;
    }
}