:root {
  --main-bg-color: rgb(245, 245, 245);
  --main-other: rgb(10, 69, 12);
  --green-lighter: rgb(64, 121, 66);
}

body {
  margin: 0;
  font-family: 'Cormorant Garamond';
  background-color: var(--main-bg-color);
}

#owl {
  display: block;
  width: 90vw;
  max-width: 1000px;
  margin: 30px auto;
}

#mobile-owl {
  display: none;
}

.nav li,
#menu-button {
  font-family: 'EB Garamond';
}

/* type / font rules */

h1 {
  font-size: calc((2 - 1) * 1.2vw + 1rem);
}

h2 {
  font-size: calc((2 - 1) * 1.2vw + .85rem);
}

h3 {
  font-size: calc((2 - 1) * 1.2vw + .65rem);
}

h4 {
  font-size: calc((2 - 1) * 1.2vw + .5rem);
}

p {
  font-size: calc((1.5 - 1) * 1.2vw + .5rem);
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
  margin: 0px;
  
  /* background-color: rgb(15, 15, 15); */
  background-image: url("../images/owl.webp");
  background-size: auto 100%;
  background-position: center;
  /* opacity: .5; */
}

header div {
  background: linear-gradient( 90deg, rgba(15,15,15,0) 0%,rgba(1,1,1,1) 5%, rgba(1,1,1,1) 95%,rgba(15,15,15,0) 100% );
  width: fit-content;
  margin: 0 auto;
  padding: 20px 2vw;
  /* box-shadow: 0px 0px 10px 10px; */
}

#DCHeader {
  display: block;
  width: fit-content;
  /* min-width: 500px; */
  font-size: calc((2 - 1) * 1.2vw + 1.8rem);
  font-weight: 600;
  margin: 10px auto;
  text-decoration: none;
  background-color:var(--main-bg-color);
  padding: 5px 20px;
  border-radius: 10px;
  /* border: 2px solid var(--main-bg-color); */
  color: rgb(15, 15, 15);
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 2px 2px 0 2px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
}

.nav li a, .nav li p {
  display: block;
  text-align: center;
  padding: 10px 1vw;
  margin: 0 5px 5px 5px;
  text-transform: uppercase;
  color: rgb(15, 15, 15);
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  font-size: calc((1.3 - 1) * 1.2vw + .65rem);
  font-weight: 800;
  /* border: 3px solid black; */
}

.nav li a:hover, .nav li p:hover {
  /* background-color: rgb(240, 70, 70); */
  background-color: var(--green-lighter);
  color: var(--main-bg-color);
}

.nav ul {
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu-button {
  display: none;
  font-size: 14px;
  text-transform: uppercase;
}

.activePage {
  margin: -2px auto;
  border: 2px solid var(--main-other);
}

#menu-UL a {
  display: block;
}

#menu-UL > li > a {
  display: inline-block;
}

/* dropdown content */
#menu-UL ul {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
}

#menu-UL ul > li > ul {
  left: 100%;
  top: 0;
}

#menu-UL li {
  position: relative;
}

#menu-UL li:hover > ul {
  display: block;
  visibility: visible;
  opacity: 1;
}

#nav-reviews:hover, #nav-reviews:hover .reviews-dropdown, #nav-stories:hover, #nav-stories:hover .stories-dropdown, .stories-dropdown:hover .stories-sub-dropdown {
  background-color: rgb(217, 234, 215);
}

.reviews-dropdown .review-link {
  width: 200px;
  margin: 5px;
  text-align: left;
} 

.stories-dropdown .story-sub {
  width: 150px;
  margin: 5px;
  text-align: left;
}

.stories-dropdown li .stories-sub-dropdown {
  margin: -5px auto;
}

.stories-sub-dropdown li .story-link {
  text-align: left;
  margin: 5px;
  width: 200px;
}

/* #nav-stories, #nav-reviews {
  margin-bottom: 10px;
} */

footer {
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0px 20px;
  background: rgb(15, 15, 15);
  width: calc(100% - 40px);
  color: var(--main-bg-color);
}

footer p,
footer p a {
  font-size: 14px;
}

footer p a {
  color: var(--orange);
}

@media screen and (max-width: 700px) {
  body {
    width: 100vw;
  }

  header {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: rgb(15, 15, 15);
    width: 95%;
  }

  header div {
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
  }

  #DCHeader {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 16px;
    padding: 5px;
  }

  .nav {
    flex-flow: column nowrap;
    background-color: rgba(1,1,1,1);
  }

  .nav li {
    display: block;
  }

  .nav ul {
    display: none;
    margin: 0 auto;
  }

  nav ul.is-active {
    position: absolute;
    top: 51.5px;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 5vw 0;
    background-color: rgb(15, 15, 15);
    width: 100vw;
    height: calc(100vh - 79px - 10vw);
  }

  .nav li a, .nav li p {
    display: block;
    margin: 5vw auto;
    padding: 3vw 10vw;
    font-size: 30px;
    width: fit-content;
    border: 1px solid rgb(227, 231, 179);
  }

  nav li .activePage {
    border: 0px;
    background-color: rgb(228, 67, 113);
  }

  #menu-button {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 31px;
    background-color: rgb(245, 245, 245);
    border: 0;
    border-radius: 10px;
    padding: 0 5px;
  }

  #mobile-owl {
    display: block;
    width: 90vw;
    margin: 20px auto;
  }
}