main {
    display: block;
    margin: 0 2vw calc(400px - (100vw / 10)) 2vw;
}

#my-snaps-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 3%;
    max-width: 1300px;
}

.one-snap a img {
    object-fit: cover;
    width: 30vw;
    height: 30vw;
    max-width: 400px;
    max-height: 400px;
    min-width: 250px;
    min-height: 250px;
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 831px) {
    main {
        margin: 0 2vw;
    }
}