section {
    width: 90vw;
    max-width: 1000px;
    padding: 40px;
    margin: auto;
    background-color: rgb(245,245,245);
}

section img {
    display: block;
    margin: 5vh auto;
    aspect-ratio: 667 / 1000;
    max-height: 500px;
}

@media screen and (max-width: 600px) {
    section {
        width: 80vw;
        padding: 5vw;
    }

    section img {
        width: 75vw;
        margin: 2vh auto;
    }
}