body {
  margin: 0;
  font-family: "Comic Neue";
  background-image: url("../images/paper-background.webp");
}

header, footer {
    text-align: center;
}

header a {
    font-size: 24px;
}

header h1 {
    /* background-color: rgb(245,245,245);
    border: 10px ridge grey; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 350px;
    height: 273px; 
    margin: 0px auto 40px auto;
    font-size: 48px;
    background-image: url(../images/nonsense/ZZcn.gif);
    background-repeat: no-repeat;
    background-position: right 0 top 25%;
}

#nonsense-main section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

#nonsense-main h2 {
    text-align: center;
    font-size: 30px;
    width: 80vw;
    max-width: 1000px;
    margin: 40px auto;
    border: 10px outset goldenrod;
    background-color: white;
    padding: 20px;
}

#nonsense-main section img {
    width: 30vw;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    margin: 10px;
    border: 20px inset silver;
}

#greetings {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 150px;
    height: 75px;
}

#spaceship {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 150px;
    height: 75px;
}

@media screen and (max-width: 600px) {
    #greetings, #spaceship {
        top: 230px;
    }

    #greetings {
        left: 20px;
    }

    #spaceship {
        right: 20px;
    }

    #nonsense-main h2 {
        font-size: 18px;
        padding: 10px;
    }
}