main {
    margin: -30px auto;
}

main section {
    background-color: rgb(245,245,245);
    width: 70vw;
    max-width: 1000px;
    min-height: 75vh;
    margin: auto;
    padding: 40px;
}

#reviews-main section {
    width: 90vw;
    max-width: 1000px;
    margin: auto;
}

#reviews-main section p {
    font-size: 24px;
    margin: 60px auto;
}

#reviews-main section a {
    display: block;
    font-size: 20px;
    margin: 40px auto;
}

@media screen and (max-width: 600px) {

    #reviews-main {
        padding: 20px;
    }

    #reviews-main section {
        width: 80vw;
        min-height: 75vh;
        margin: 2vh auto;
        padding: 5vw;
    }

    #reviews-main section p {
        font-size: 18px;
        margin: auto;
    }

    #reviews-main section a {
        display: block;
        font-size: calc((2 - 1) * 1.2vw + .6rem);
        margin: 40px auto;
    }
}