main {
    margin: auto;
    margin-top: -30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px; 
    padding-top: 50px;
    min-height: calc(100vh - 190px);
    /* background-image: url(../images/original-black-leather-texture-background-65170f9a20a4c.webp); */
}

main section {
    background-color: rgb(245,245,245);
    box-shadow: 0px 0px 5vw 0 white;
    width: 70vw;
    max-width: 1000px;
    /* min-height: 75vh; */
    margin: auto;
    padding: 40px;
}

#reviews-main { 
    display: block;
}

#reviews-main section {
    width: 90vw;
    max-width: 1000px;
    margin: auto;
}

#reviews-main section p {
    font-size: 24px;
    margin: 60px auto;
}

#reviews-main section a {
    display: block;
    font-size: 24px;
    margin: 40px auto;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(245,245,245);
    text-align: center;
    background-color: var(--main-other);
}

#reviews-main section a:hover {
    background-color: var(--green-lighter);
}

@media screen and (max-width: 600px) {

    #reviews-main {
        padding: 20px;
    }

    #reviews-main section {
        width: 80vw;
        min-height: 70vh;
        margin: 2vh auto;
        padding: 5vw;
    }

    #reviews-main section p {
        font-size: 16px;
        margin: auto;
    }

    #reviews-main section a {
        display: block;
        font-size: calc((2 - 1) * 1.2vw + .6rem);
        margin: 30px auto;
        width: fit-content;
        max-width: 220px;
    }
}