:root {
    --main-bg-color: rgb(245, 245, 245);
    --main-other: rgb(10, 69, 12);
    --green-lighter: rgb(64, 121, 66);
  }

/* for stories main */

main {
    margin: auto;
    margin-top: -30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px; 
    padding-top: 50px;
    min-height: calc(100vh - 220px);
}

#stories-main {
    display: block;
    padding: 0 5vw;
    padding-bottom: 60px;
    min-height: 80vh;
    width: 90vw;
    margin: 0 auto;
    /* box-shadow: 0px 0px 5vw 0 white; */
}



#stories-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80vw;
    margin: auto;
    padding: 1px 20px 20px 20px;
}

#stories-flex div h2 {
    font-size: 30px;
    text-align: center;
    background-color: rgb(5,5,5);
    width: fit-content;
    color: rgb(245,245,245);
    padding: 10px 20px;
    border-radius: 20px;
}

#stories-flex div a {
    color: black;
    font-size: 24px;
    display: block;
    text-align: center;
    margin: 20px auto;
    color: rgb(245, 245, 245);
    background-color: var(--main-other);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid rgb(10, 69, 12);
}

#stories-flex div a:hover {
    background-color: rgb(245,245,245);
    color:rgb(10, 69, 12);
}

#stories-books {
    display: block;
    padding: 30px 0;
    margin: auto;
    width: 90vw;
    max-width: 600px;
}

@media screen and (min-width: 1100px) {
    #stories-main {
        width: 100vw;
        padding: 0;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1100px) {
    #stories-flex {
        display: block;
    }
}

/* for individual stories */

main {
    margin: -30px auto;
}

main h2 {
    text-align: center;
    font-size: 36px;
    margin: 1rem auto;
}

.story-with-flex, main section:first-child {
    width: 90vw;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background-color: rgb(245, 245, 245);
    /* box-shadow: 0px 0px 5vw 0 white; */
}

.story-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2vw;
}

.story-flex hr {
    width: 300px;
    margin: 40px auto;
}

img {
    width: 20vw;
    max-width: 400px;
}

@media screen and (max-width: 1200px) {
    .story-flex {
        display: block;
    }
}

.story-flex div {
    width: 800px;
}

.story-flex div p {
    font-size: 20px;
}

.full-story {
    padding-bottom: 50px;
}

.full-story div {
    margin: 40px auto;
}

.full-story div i {
    display: block;
    text-align: center;
}

.full-story div p i {
    display: inline;
}

.full-story hr {
    width: 200px;
}

.story-about {
    background-color: var(--green-lighter);
    
    text-align: center;
    width: fit-content;
    padding: 1px 20px;
    margin: auto;
    border-radius: 10px;
}

.story-about, .story-about a {
    color: var(--main-bg-color);
}

@media screen and (max-width: 600px) {
    main {
        padding-bottom: 50px;
    }

    main section:first-child {
        padding: 10px 20px;
    }
    
    .story-flex div {
        width: 90%;
        margin: auto;
    }

    .story-flex div p, .full-story section div p {
        font-size: 14px;
    }

    .story-with-flex h2, .full-story section h2 {
        font-size: 24px;
    }

    .story-flex hr {
        width: 40vw;
    }

    blockquote {
        margin: 10px;
        font-size: 14px;
        color: rgba(5,5,5,.7);
    }

    img {
        display: block;
        width: 80%;
        max-width: none;
        margin: 20px auto;
    }
}