/* for stories main */

#stories-main {
    margin-bottom: 350px;
    width: 100vw;
    max-width: none;
}

#stories-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 90vw;
    margin: 100px auto;
}

#stories-flex div h2 {
    font-size: 36px;
    text-align: center;
}

#stories-flex div a {
    color: black;
    font-size: 24px;
}

#stories-flex div div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

@media screen and (max-width: 1100px) {
    #stories-flex {
        display: block;
    }
}

/* for individual stories */

main {
    width: 90vw;
    max-width: 800px;
    margin: auto;
}

main h2 {
    text-align: center;
    font-size: 36px;
}

.story-with-flex {
    max-width: none;
    margin: 40px auto;
    padding-bottom: 40px;
}

.story-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
}

@media screen and (max-width: 1200px) {
    .story-flex {
        display: block;
    }
}

.story-flex div {
    width: 800px;
}

.story-flex div p {
    font-size: 20px;
}

.full-story {
    padding-bottom: 50px;
}

.full-story div {
    margin: 40px auto;
}

.full-story div i {
    display: block;
    text-align: center;
}

.full-story hr {
    width: 200px;
}

.story-about {
    background-color: rgba(0,0,0,.2);
    text-align: center;
    width: fit-content;
    padding: 1px 20px;
    margin: auto;
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 0;
}